<!DOCTYPE html>

<html>

   <head>
       {{>headstuff}}
</head>

<body>
      <div class="main-content">
      {{>header}}
       <p>{{helpText}}</p>
</div>

    
    {{>footer}}    
 
</body>

</html>