<!DOCTYPE html>

<html>

 <head>
       {{>headstuff}}
</head>

<body>
    <div class="main-content">
      {{>header}}
        <img class="portrait" src="img/robot.png"/>
    <p>{{helpText}}</p>
</div>


{{>footer}}    
</body>

</html>